#container{margin:10px 0 0;position:relative; padding-left:2px;padding-right:2px;padding-top:0;left:0;right:0;top:0}
#content{background-color:#D8F3C9;color:#000000;font-weight:normal;border:2px solid #FFFFFF;margin-bottom:4px;min-height:300px; height:auto !important; height:300px;padding:5px;}
#abajo{background-color:#D8F3C9;color:#000000;font-weight:bold;border:2px solid #FFFFFF;margin-bottom:4px;padding:5px;}
img.fija{z-index: 1; opacity:0.80; position:fixed; _position:absolute; top:0; _top:expression(eval(document.body.scrollTop)); right:0; margin:0; padding:0;}
body{background-color:#9CC089;color:#101010;font-family:"Tahoma","Verdana","Arial",serif;font-size:13px;margin:1px;}
blockquote{background-color:#9CC089;border:2px solid #C1DAD6;margin:0;padding:5px;quotes:"\201C""\201D";max-width:100%;font-weight:bold;color:#FFFFFF}
#error{background-color:#FF0000;border:2px solid #C1DAD6;margin:0;padding:5px;max-width:100%;font-weight:bold;color:#FFFFFF;text-align:center}
#error:before{content:'Error: '}
#info{background-color:#FFFF00;border:2px solid #000000;margin:0;padding:5px;max-width:100%;font-weight:bold;color:#000000;text-align:center}
#info:before{content:"Información: "}
#nota{background-color:#009900;border:2px solid #000000;margin:0;padding:5px;max-width:100%;font-weight:bold;color:#FFFFFF;text-align:center}
#nota:before{content:"Nota: "}
p{background-color:#9CC089;border:2px solid #C1DAD6;margin:0;padding:10px;width:95%}
textarea,input[type=text],input[type=password]{background-color:#FFFFE0;color:#9CC089;font-weight:bold; width: 100%;}
select{width:300px}
pre{border-left:2px solid #cce;margin-left:3px;overflow:auto;padding:.5em}
p{margin-top:5px}
h1{color:#818121;font-size:18px;margin-bottom:4px;margin-top:0;padding:5px;text-align:center}
h2{color:#000000;font-size:16px;margin-bottom:4px;margin-top:0;padding:5px;text-align:center}
h3{color:#B7AFA3;font-size:13px;font-weight:bold;margin-bottom:0}
h4{color:#C7AFA3;font-size:12px;font-weight:normal;margin-left:2px}
hr{display:block}
table{border-collapse:collapse;border-spacing:0;margin-bottom:4px;margin-top:4px;width:100%}
table th{font-weight:bold;color:#B7AFA3;padding:.2em .5em;text-align:left;border:2px solid #C1DAD6;}
table td{border-top:2px dotted #FFFFFF;padding:.2em .5em;text-align:left}
a{color:#9CC089;font-weight:700;text-decoration:none}
a:hover{color:#B7AFA3}
a img{border-width:0}
