.chromestyle{
width: 100%;
line-height: 40px;
font-weight: bold;
font-size: 20px;
margin-left:0;
background: url(chromebg.gif) center center repeat-x;
opacity:1.0;
}

.chromestyle ul{
height: 40px;
width: 97%;
text-align: right;
}

.chromestyle ul li{
height: 40px;
line-height: 40px;
padding: 10px 0px;
display: inline;
text-align: center;
vertical-align:center;
border-right: 10px solid #FFFFFF;
}

.chromestyle ul li a{
color: #FFFFFF;
padding-right: 5px;
padding-left: 5px;
}
.chromestyle ul li a:hover{
color: #FFCCCC;
}
.chromestyle ul li:hover{
background: url(chromebg-over.gif) center center repeat-x; /*THEME CHANGE HERE*/
}

/* ######### Style for Drop Down Menu ######### */

.dropmenudiv{
position:absolute;
top: 0;
border: 1px solid #BBB; /*THEME CHANGE HERE*/
border-bottom-width: 0;
font:normal 12px Verdana;
line-height:18px;
z-index:100;
background-color: white;
width: 200px;
visibility: hidden;
}

.dropmenudiv a{
width: auto;
display: block;
text-indent: 3px;
border-bottom: 1px solid #BBB; /*THEME CHANGE HERE*/
padding: 2px 0;
text-decoration: none;
font-weight: bold;
color: black;
}

* html .dropmenudiv a{ /*IE only hack*/
width: 100%;
}

.dropmenudiv a:hover{
background-color: #F0F0F0;
}
