.chromestyle{
width: 100%;
margin:0;
line-height: 70px;
font-family: arial;
font-style: normal;
font-variant: small-caps;
font-weight: bolder;
font-size: medium;
line-height: 100%;
word-spacing: normal;
letter-spacing: normal;
text-decoration: none;
text-transform: none;
text-align: left;
text-indent: 0ex;
}

.chromestyle ul{
height: 70x;
width: 100%;
text-align: center;
background: url(chromebg.gif) center center repeat-x;
opacity:0.9
}

.chromestyle ul li{
height: 70px;
line-height: 70px;
display: inline;
text-align: center;
vertical-align:center;
margin-right: 4px;
}

.chromestyle ul li a{
color: #FFFFFF;
padding-right: 5px;
padding-left: 5px;
}
.chromestyle ul li a:hover{
color: #CCCCFF;
}

/* ######### Style for Drop Down Menu ######### */

.dropmenudiv{
position:absolute;
top: 0;
border: 1px solid #BBB; /*THEME CHANGE HERE*/
border-bottom-width: 0;
font:normal 12px Verdana;
line-height:18px;
z-index:100;
background-color: white;
width: 200px;
visibility: hidden;
}

.dropmenudiv a{
width: auto;
display: block;
text-indent: 1ex;
border-bottom: 1px solid #BBB; /*THEME CHANGE HERE*/
padding: 0em 0;
text-decoration: none;
font-weight: bold;
color: black;
}

* html .dropmenudiv a{ /*IE only hack*/
width: 100%;
}

.dropmenudiv a:hover{
background-color: #F0F0F0;
}
